header {
    height: 30vh;
    flex-direction: column;
}

main {
    min-height: 80vh;
}

footer {
    height: 10vh;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}