#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.verde {
  color: teal;
}

.card {
  border: 2px solid snow;
  padding: 10px;
  width: 200px;
  min-height: 300px;
  box-shadow: 2px 2px 5px #888;
}

.card img {
  width: 100%;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  width: 200px;
}

.btn-red {
  background-color: tomato;
}

.btn-green {
  background-color: teal;
}

.bg-blue {
  background-color: #224ec5;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}